.ordering.title 
    .container-fluid
        include ../breadcrumbs/breadcrumbs
        h1 Японская кухня
        form.ordering__form(action="#")
            include ../formUser/formUser
            include ../asideOrd/asideOrd
