.text.title
    .container-fluid 
        include ../breadcrumbs/breadcrumbs
        h2 Текстовая страница
        .text__inner
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque nobis ratione impedit sequi et, at in aliquam veritatis. Esse, obcaecati fugit. Commodi dolor totam autem illum velit est, eveniet modi natus iure fugiat, asperiores incidunt. Eius velit vel sit nihil incidunt doloremque, voluptate, reiciendis nesciunt id nostrum exercitationem ex obcaecati!
            ul 
                li fkdnlflkdslksdflkdflk
                li fkdnlflkdslksdflkdflk
                li fkdnlflkdslksdflkdflk
                li fkdnlflkdslksdflkdflk
                li fkdnlflkdslksdflkdflk
                li fkdnlflkdslksdflkdflk
                li fkdnlflkdslksdflkdflk
                li fkdnlflkdslksdflkdflk
                li fkdnlflkdslksdflkdflk
                li fkdnlflkdslksdflkdflk
                li fkdnlflkdslksdflkdflk