.about__menu
    ul.about__menu-list
        li
            a(href="#stock") Акции
        li
            a(href="#sets") Сеты
        li
            a(href="#") Роллы
        li.about__menu-dropdown 
            span Еще
            ul.about__menu-list--more
                li
                    a(href="#") Суши
                li
                    a(href="#") Сашими
                li
                    a(href="#") Супы
                li
                    a(href="#") Десерт