.about__menu
    ul.about__menu-list 
        li 
            a(href="#") Акции
        li 
            a(href="#") Сеты
        li 
            a(href="#") Роллы
        li 
            a(href="#") Суши
        li 
            a(href="#") Сашими
        li 
            a(href="#") Супы
        li 
            a(href="#") Десерт