aside.ordering__aside 
    .ordering__aside-header 
        .ordering__aside-box
            p Ваш заказ в ресторане
            h4 Японская кухня
        a(href="#") 
            +icon('delete')
    ul.ordering__list.cart__list
        li.ordering__item.cart__item
            img(src="images/img.webp", alt="")
            .ordering__item-top.cart__item-top 
                h5 Суши Лосось 
                .cart__item-price 
                    span 400
                    | ₽
            .cart__item-bottom 
                .cart__item-count 
                    button.cart__item-btn.cart__item-btn--minus(type="button") 
                        +icon('minus')
                    input(type="text" value="1")
                    span шт.
                    button.cart__item-btn.cart__item-btn--plus(type="button") 
                        +icon('plus')
                .cart__item-size 
                    span 60
                    | г.
        li.ordering__item.cart__item
            img(src="images/img.webp", alt="")
            .ordering__item-top.cart__item-top 
                h5 Суши Лосось 
                .cart__item-price 
                    span 400
                    | ₽
            .cart__item-bottom 
                .cart__item-count 
                    button.cart__item-btn.cart__item-btn--minus(type="button") 
                        +icon('minus')
                    input(type="text" value="1")
                    span шт.
                    button.cart__item-btn.cart__item-btn--plus(type="button") 
                        +icon('plus')
                .cart__item-size 
                    span 60
                    | г.
        li.ordering__item.cart__item
            img(src="images/img.webp", alt="")
            .ordering__item-top.cart__item-top 
                h5 Суши Лосось 
                .cart__item-price 
                    span 400
                    | ₽
            .cart__item-bottom 
                .cart__item-count 
                    button.cart__item-btn.cart__item-btn--minus(type="button") 
                        +icon('minus')
                    input(type="text" value="1")
                    span шт.
                    button.cart__item-btn.cart__item-btn--plus(type="button") 
                        +icon('plus')
                .cart__item-size 
                    span 60
                    | г.
        li.ordering__item.cart__item
            img(src="images/img.webp", alt="")
            .ordering__item-top.cart__item-top 
                h5 Суши Лосось 
                .cart__item-price 
                    span 400
                    | ₽
            .cart__item-bottom 
                .cart__item-count 
                    button.cart__item-btn.cart__item-btn--minus(type="button") 
                        +icon('minus')
                    input(type="text" value="1")
                    span шт.
                    button.cart__item-btn.cart__item-btn--plus(type="button") 
                        +icon('plus')
                .cart__item-size 
                    span 60
                    | г.
    .ordering__info 
        .ordering__info-delivery
            .ordering__info-box 
                span Доставка
                .ordering__info-price
                    span 400
                    | ₽
            p Закажите еще на 
                span 30 
                | ₽ для бесплатной доставки
        .ordering__info-summ 
            p Итого:
            .ordering__info-price
                span 1 750 
                | ₽



