.stock.title#stock
    h2 Акции
    .stock__cards.cards
        include ../card/card
        include ../card/card
        include ../card/card
        include ../carddef/carddef
        include ../card/card
