section.categories.categories__title.title 
    .container-d 
        h2 Кухни и рестораны
        .categories__items
            a.categories__item(href="#")
                .categories__item-img
                    img(src="images/categories-1.webp", alt="")
                .categories__item-info
                    h4 Японская кухня
                    .categories__info-box 
                        span.categories__price 
                            +icon('rub', 'icon-categories')
                            | от 700 ₽
                        span.categories__time 
                            +icon('time', 'icon-categories')
                            | 50-70 мин
                        span 
                            +icon('star', 'icon-categories')
                            | 4.8
            a.categories__item(href="#")
                .categories__item-img
                    img(src="images/categories-2.webp", alt="")
                .categories__item-info
                    h4 Паназиатская кухня
                    .categories__info-box 
                        span.categories__price 
                            +icon('rub', 'icon-categories')
                            | от 700 ₽
                        span.categories__time 
                            +icon('time', 'icon-categories')
                            | 50-70 мин
                        span 
                            +icon('star', 'icon-categories')
                            | 4.8
            a.categories__item.opening__item(href="#")
                .categories__item-img.opening__item-img
                    .opening__item-info
                        +icon('calendar')
                        h4 Скоро открытие
                    img(src="images/categories-3.webp", alt="")
                .categories__item-info
                    h4 Завтраки из Франц Кафе
                    .categories__info-box 
                        span.categories__price 
                            +icon('rub', 'icon-categories')
                            | от 700 ₽
                        span.categories__time 
                            +icon('time', 'icon-categories')
                            | 50-70 мин
                        span 
                            +icon('star', 'icon-categories')
                            | 4.8
            a.categories__item.develop__item(href="##")
                .categories__item-img.develop__item-img
                    .develop__item-info
                        +icon('develop')
                        h4 В разработке
                    img(src="images/categories-3.webp", alt="")
                .categories__item-info
                    h4 Итальянская кухня
                    .categories__info-box 
                        span.categories__price 
                            +icon('rub', 'icon-categories')
                            | от 700 ₽
                        span.categories__time 
                            +icon('time', 'icon-categories')
                            | 50-70 мин
                        span 
                            +icon('star', 'icon-categories')
                            | 4.8
            a.categories__item.develop__item(href="##")
                .categories__item-img.develop__item-img
                    .develop__item-info
                        +icon('develop')
                        h4 В разработке
                    img(src="images/categories-3.webp", alt="")
                .categories__item-info
                    h4 Грузинская кухня
                    .categories__info-box 
                        span.categories__price 
                            +icon('rub', 'icon-categories')
                            | от 700 ₽
                        span.categories__time 
                            +icon('time', 'icon-categories')
                            | 50-70 мин
                        span 
                            +icon('star', 'icon-categories')
                            | 4.8
            a.categories__item.develop__item(href="##")
                .categories__item-img.develop__item-img
                    .develop__item-info
                        +icon('develop')
                        h4 В разработке
                    img(src="images/categories-3.webp", alt="")
                .categories__item-info
                    h4 СтритФуд
                    .categories__info-box 
                        span.categories__price 
                            +icon('rub', 'icon-categories')
                            | от 700 ₽
                        span.categories__time 
                            +icon('time', 'icon-categories')
                            | 50-70 мин
                        span 
                            +icon('star', 'icon-categories')
                            | 4.8
            