.modal.modal-bid.title#modal-bid(style="display: none;") 
    h4 Оставьте заявку
        p и мы вам перезвоним!
    form.form__bid(action="#")
        .modal-bid__input.form__input
            input(type="text" id="name" required)
            label(for="name") 
                | Ваше имя 
                i *
        .modal-bid__input.form__input
            input(type="tel" id="phone" required)
            label(for="phone") 
                | Ваше телефон 
                i * 
        button.modal(type="submit") Оформить заказ
        .form__user-police
            input(type="checkbox" id="police")
            label(for="police") 
                | Нажимая на кнопку «Оформить заказ», я даю согласие на обработку 
                i персональных данных