script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src="./libs/jquery.js") 
script(src="./libs/jquery.fancybox.min.js") 
script(src="./libs/nice-select.min.js") 
script(src="./libs/swiper.min.js") 
script(src="./libs/inputmask.min.js") 
script(src="./libs/simplebar.js") 
script(src="./libs/ellipsis.min.js") 
script(src="./js/main.js") 