.about 
    .container-fluid
        .about__inner 
            .about__content
                include ../banner/banner
                include ../menu/menu
                include ../stock/stock
            include ../aside/aside