article.stock__card.card 
    .card__img 
        img(src="" alt="")
    .card__info 
        .card__info-size.cart__item-size 
            span 120
            | г.
        h3 Сяке маки
        p Насыщенный снежный краб со спелым авокадо и японским спайси-майонезом
        form.card__form
            .card__form-price.card__price-form--new
                span 420 
                | ₽  
            .card__form-price.card__price-form--old
                span 420 
                | ₽
            button(type="submit")
                span Хочу


