header.header 
    .container-fluid
        .header__inner 
            a.header__logo.logo(href="index.html") 
                +icon('logo', 'header__logo')
            button.header__address(type="button" data-fancybox href="#modal-address") 
                +icon('address')
                span Укажите адрес доставки
            include ../basket/basket
            include ../login/login
            include ../mobile/mobile
