.navbar 
    ul.navbar__list 
        li 
            a(href="/") 
                +icon('nav-home')
                | Главная
        li 
            a(href="/") 
                +icon('nav-stock')
                | Акции
        li 
            a(href="/") 
                +icon('nav-order')
                | Заказы
        li 
            a(href="/") 
                +icon('nav-search')
                | Поиск
        li 
            a(href="/") 
                +icon('nav-other')
                | Другое