.header__search.search__nav 
    a(href="#") 
        +icon('search')
    form
        input(type="search" name="search" placeholder="Найти блюдо или ресторан") 
        button(type="submit") 
            +icon('search')

