.slang 
    .container-window
        .slang__inner 
            .slang__info
                a(href="#")
                    +icon('logo-big') 
                p Мы готовим, пока вы отдыхаете
            ul.slang__list 
                li 
                    img(src="images/slang-1.webp", alt="")
                li 
                    img(src="images/slang-2.webp", alt="")
                li 
                    img(src="images/slang-3.webp", alt="")
                li 
                    img(src="images/slang-4.webp", alt="")