extends base/pug/base

append variables
    - var title = 'О компании'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block header
    include ./components/header/header
block content
    include ./components/about/about
block footer  
    include ./components/footer/footer