extends base/pug/base

append variables
    - var title = 'Оформление заказа'
    - var pageClass = 'ordering'
    - var menuHref = '/'

block header
    include ./components/header/header
block content
    include ./components/ordering/ordering
block footer  
    include ./components/footer/footer