article.card
    .card__img 
        img(src="images/img.webp" alt="")
    .card__info 
        .card__info-size.cart__item-size 
            span 120
            | г.
        h3 Сяке маки
        p Насыщенный снежный краб со спелым авокадо и японским спайси-майонезом
        form.card__form
            .card__form-price
                span 420 
                | ₽  
            button(type="submit") Хочу!