.map
    .map__inner#map
    .map__info.title 
        h2 Контакты
        .map__info-items 
            .map__info-item
                +icon('phone')
                span Телефон
                strong +7 (596) 569-66-82
                a(href="#") Перезвоните мне
            .map__info-item.map__info-address
                +icon('marker')   
                span Адрес
                strong г. Чита, ул. Хабаровская, 70
            .map__info-item.map__info-social
                +icon('social')
                span Instagram
                a(href="#") Yaposhka75