.about__banner 
    img(src="images/about.webp" alt="")
    span.about__banner-raiting 
        +icon('star-white')
        | 4.8
    .about__banner-header
        h1 Японская кухня
        a(href="tel:+75965696682") +7 (596) 569-66-82
    .about__banner-content 
        ul.about__banner-list
            li 
                +icon('rub')
                | Мин. заказ от 700 ₽
            li 
                +icon('delivery')
                | Доставка: от 300 ₽
            li 
                +icon('time')
                | 50-70 мин
            li 
                a(href="#" target="_blank") 
                    +icon('instagram', 'icon-about')
                    span yaposhka75
        a.about__banner-link(href="#") Контакты ресторана
