.sets.title#sets
    h2 Сеты
    .sets__cards.cards
        include ../cardprice/cardprice
        include ../cardprice/cardprice
        include ../cardprice/cardprice
        include ../cardprice/cardprice
        include ../cardprice/cardprice
