.burger 
    button 
        span 
        span 
        span 

.mobile__menu 
    ul.mobile__menu-list
        li 
            a(href="#") 
                +icon('mobile-1')
                | Мои промокоды
        li 
            a(href="#") 
                +icon('mobile-3')
                | Избранное
        li 
            a(href="#") 
                +icon('mobile-4')
                | Мои адреса
        li 
            a(href="#") 
                +icon('mobile-4')
                | Условия доставки
        li 
            a(href="#") 
                +icon('mobile-5')
                | Связаться с нами










